# Build artifacts
**/build/
.gradle/
/build

# IDE files
.idea/
*.iml
*.iws
*.ipr
.shelf/

# Local configuration
local.properties

# Log files
*.log

# Captures
/captures

# OS specific files
.DS_Store
Thumbs.db
